#cursor {
    position: absolute;
    width: 2px;
    height: 1.8rem;
    background: black;
    animation: blink 1s step-end infinite;
    pointer-events: none;
    display: none;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
div.word{
    display: inline-block;
}
.word.current {
    color: #003dd6;
}
.letter.correct {
    color: #08850c;
}

.letter.incorrect {
    color: #E53935;
}

#text-container {
    position: relative;
    height: 120px;
    overflow: hidden;
    text-align: left;
    outline: none;
}

#text-display {
    line-height: 1.5;
    font-size: 1.6rem;
    transition: transform 0.1s;
}