#cursor {
    position: absolute;
    width: 2px;
    height: 1.2rem;
    background: black;
    animation: blink 1s step-end infinite;
    pointer-events: none;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.letter.correct {
    color: green;
}

.letter.incorrect {
    color: red;
}